{% extends "_layout.html" %}

{% block title %}
Info
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<h1>Info</h1>

<h3>{{ image.name }}</h3>
<p>{{ image.description }}</p>

<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<div id="map"></div>
<script>
    function initMap() {

        var myLatLng = { lat: 51.5081, lng: -0.076674 };

        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 17,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: "Hello World!"
        });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAXfhuexrKg2ioMAlnsRcWahLV9Hq9nZY&callback=initMap"></script>







{% endblock %}