{% extends '_layout.html' %}
{% block content %}

<h1>Signup for an account :)</h1>

<div class="container">
    <form action="{{ url_for('users.signup') }}" method="POST" class="needs-validation" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="col-md-6 mb-4">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="uname" placeholder="Enter your desired username" name="username"
                required>
            <div class="valid-feedback">All good!</div>
            <div class="invalid-feedback">Please choose a username.</div>
        </div>

        <div class="col-md-6 mb-4">
            <label for="password">Password:</label>
            <input type="password" pattern=".{8,}" class="form-control" id="pwd" placeholder="Enter your password"
                name="password" required>
            <div class="valid-feedback">All good!</div>
            <div class="invalid-feedback">Password must be 8 characters minimum.</div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    // Disable form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>


{% endblock %}